:root {
  --color-principal: #6b3e1d;
  --color-secundario: #d4a373;
  --color-fondo: #f5e6ca;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {

  display: grid;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 5% auto auto;
}

nav {
  background-color: var(--color-principal);
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

nav a {
  font-size: 1.8rem;
  text-align: center;
}


.areaProductos {
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  height: 100vh;
}

.Catalago {
  display: flex;
  margin: 3rem 3rem 2rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.Catalago div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 1px 2px black;
  width: 150px;
  height: 210px;


}

.Catalago div:hover {
  transform: scale(1.05);
}

.Catalago div .cantidad {
  display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 1.1rem;
  border-radius: 0 0 5px 5px;
  background-color: var(--color-principal);
}

.Catalago div img {
  width: 80px;
  height: 80px;
}

.Catalago p {
  text-align: center;
  margin: .2rem;
}

.panelVenta {
  display: flex;


  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 1px 2px black;
  margin: 2rem;

}

.panelVenta h2 {
  text-align: center;
  background-color: var(--color-secundario);
  margin: 0;
  border-radius: 10px 10px 0 0;
  padding: .8rem;
  color: rgb(46, 45, 45);
}

.panelVenta table {
  width: 90%;
  min-width: 350px;

  text-align: left;
  margin: 2rem;
}



.Venta {
  background-color: var(--color-fondo);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0 0 10px 10px;
}

.Venta p {

  font-size: 1.2rem;
  font-weight: bold;
}

.botones {
  display: flex;
  gap: 10px;
}

.botones a {
  font-size: 1.3rem;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;

  width: 50%;
  padding: .3rem;
}

button {
  font-size: 1.3rem;
  border-radius: 5px;
  width: 50%;
  padding: .3rem;
}

button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  transform: scale(1.05);
}


a.btnCancelar,
a.btnCancelar:visited {
  background-color: var(--color-principal);
  color: white;
}

.btnRealizarVenta {
  background-color: var(--color-secundario);
}

.areaPago {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
  margin: 2rem;


}

.areaPago p {
  font-size: 1.1rem;
}

.areaPago div {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.ckeckRedondo {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  accent-color: #4CAF50;
}



.areaPago h2 {
  font-size: 2rem;
  text-align: center;
}

.areaPago a {
  display: block;
  text-align: center;
  box-shadow: 0px 3px 2px black;
  font-size: 1.3rem;
  width: 60%;
  height: 40px;
  padding: .7rem;
  border-radius: 5px;
  background-color: var(--color-principal);
  color: white;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: fixed;
  width: 450px;
  height: 450px;
  top: calc(50% - 225px);
  left: calc(50% - 225px);
  border-radius: 6px;
  background-color: white;
}

.modal a {
  display: block;
  text-align: center;

  position: absolute;
  left: 0;
  border-radius: 5px;
  color: gray;
  margin: 1rem 0 0 1.5rem;
  width: 25px;
  height: 25px;
  background-color: gainsboro;

}

.modal h3 {
  font-size: 1.5rem;
  margin-top: 2.5rem 1rem 1.5rem 1rem;


}

.modal p {
  font-size: 1.2rem;
}

.modal input {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 1rem 1rem 1rem;
}

.modal button {
  background-color: lightgreen;
}

.modal b {
  display: block;

  text-align: center;
  margin: .2rem 1.5rem .7rem 1.5rem;
  color: crimson;
  font-size: .7rem;
}

#efectivoModal {
  width: 550px;
  height: 550px;
  top: calc(50% - 275px);
  left: calc(50% - 275px);
}

.seccionInputCantidad {
  display: flex;
}

#montoTotal {
  font-size: 1rem;
  margin-bottom: .5rem;
  width: 30%;
  background-color: lightgray;
}

#limpiarInput {
  display: none;
}

#cantidad {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .5rem;
}

#efectivoModal p {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  margin: .5rem .5rem 0.3rem .5rem;
}

#efectivoModal b {
  font-size: 1.1rem;
}



.pad-numerico {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  margin: .5rem;
  width: 40%;
}

.pad-numerico button {
  font-size: 1.2rem;
  width: 100%;
  background-color: var(--color-secundario);
  color: white;
  border: none;
  margin: 0;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

}

#tarjetaModal {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 300px;
  height: 200px;
  top: calc(50% - 100px);
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}


#transferenciaModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 450px;
  height: 450px;
  top: calc(50% - 225px);
  left: calc(50% - 225px);
  text-align: center;
  font-size: 1rem;
}

#transferenciaModal h3 {
  color: var(--color-principal);
  margin-bottom: 0.5rem;
}

#transferenciaModal b {
  font-size: 1rem;
}

#transferenciaModal a {
  top: 10px;
}

#transferenciaModal p {
  margin: 0.3rem 0;
}

#transferenciaModal button {
  background-color: lightgreen;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.historial {
  width: 90%;
  grid-column: span 2;
  margin: 2.5rem;
}

.estadisticas {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.estadistica {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 2px black;
  background-color: var(--color-principal);
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.estadistica p,
.estadistica b {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.7rem;
  color: white;
  text-align: center;
}

.estadistica b {
  margin-top: .3rem;

}


.tablaHistorial {
  margin: 2rem auto;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}


.tablaHistorial table {
  width: 100%;
  border-collapse: collapse;
}

.tablaHistorial thead {
  background-color: var(--color-principal);
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.tablaHistorial tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
}

.tablaHistorial thead,
.tablaHistorial tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tablaHistorial td,
.tablaHistorial th {
  padding: 0.6rem;
  border-bottom: 1px solid white;
}

.tablaHistorial td {
  background-color: var(--color-fondo);
}

.tablaHistorial td ul {
  margin: .3rem;
  padding-left: 1.2rem;
  text-align: left;
}